[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
	branch = honister
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git@github.com:agherzan/meta-raspberrypi.git
	branch = honister
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = honister
[submodule "meta-qt5"]
	path = meta-qt5
	url = git@github.com:meta-qt5/meta-qt5.git
	branch = honister
